<a href="https://colab.research.google.com/github/RahulParajuli/MachineLearningAlgorithms-Implementations/blob/main/logisticRegressionScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing all the necessary libraries

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading the dataset

In [10]:
X_train = pd.read_csv("/content/train_X.csv")
Y_train = pd.read_csv("/content/train_Y.csv")

X_test = pd.read_csv("/content/test_X.csv")
Y_test = pd.read_csv("/content/test_Y.csv")

In [11]:
X_train

      Id  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0      0       3    0  22.0      1      0   7.2500         1
1      1       1    1  38.0      1      0  71.2833         0
2      2       3    1  26.0      0      0   7.9250         1
3      3       1    1  35.0      1      0  53.1000         1
4      4       3    0  35.0      0      0   8.0500         1
..   ...     ...  ...   ...    ...    ...      ...       ...
886  886       2    0  27.0      0      0  13.0000         1
887  887       1    1  19.0      0      0  30.0000         1
888  888       3    1  20.0      1      2  23.4500         1
889  889       1    0  26.0      0      0  30.0000         0
890  890       3    0  32.0      0      0   7.7500         2

[891 rows x 8 columns]

## Dropping unnecessary column

In [12]:
X_train = X_train.drop("Id", axis = 1)
Y_train = Y_train.drop("Id", axis = 1)
X_test = X_test.drop("Id", axis = 1)
Y_test = Y_test.drop("Id", axis = 1)

## Converting data into numpy array

In [14]:
X_train = X_train.values
Y_train = Y_train.values
X_test = X_test.values
Y_test = Y_test.values

In [15]:
X_train

array([[ 3.    ,  0.    , 22.    , ...,  0.    ,  7.25  ,  1.    ],
       [ 1.    ,  1.    , 38.    , ...,  0.    , 71.2833,  0.    ],
       [ 3.    ,  1.    , 26.    , ...,  0.    ,  7.925 ,  1.    ],
       ...,
       [ 3.    ,  1.    , 20.    , ...,  2.    , 23.45  ,  1.    ],
       [ 1.    ,  0.    , 26.    , ...,  0.    , 30.    ,  0.    ],
       [ 3.    ,  0.    , 32.    , ...,  0.    ,  7.75  ,  2.    ]])

## Implementing logistic regressio from scratch

### reshaping the dataset for training

In [17]:
X_train = X_train.T
Y_train = Y_train.reshape(1, X_train.shape[1])

X_test = X_test.T
Y_test = Y_test.reshape(1, X_test.shape[1])

In [18]:
print("the shape of X_train is :", X_train.shape)
print("the shape of Y_train is :", Y_train.shape)
print("the shape of X_test is :", X_test.shape)
print("the shape of Y_test is :", Y_test.shape)

the shape of X_train is : (7, 891)
the shape of Y_train is : (1, 891)
the shape of X_test is : (7, 418)
the shape of Y_test is : (1, 418)

## Model

In [ ]:
def sigmoid(x):
  return 1/(1+np.exp(-x))

In [ ]:
def model (X, Y, learning_rate, iterations):
  m = X_train.shape[1]
  n = X_train.shape[0]

  W = np.zeros((n,1))
  B = 0
  cost_list=[]

  for i in range(iterations):
    Z = np.dot(W.T, X) + B
    A = sigmoid(Z)

    #cost function
    cost = -(1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A))

    #gradient descent
    dW = (1/m)*np.dot(A-Y, X.T)
    dB = (1/m)*np.sum(A - Y)
        
    W = W - learning_rate*dW.T
    B = B - learning_rate*dB
        
    # Keeping track of our cost function value
    cost_list.append(cost)
        
    if(i%(iterations/10) == 0):
        print("cost after ", i, "iteration is : ", cost)
        
  return W, B, cost_list